<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %> <!-- Head content -->
    <title><%= title %></title>
</head>
<body>
    <% include ../partials/nav %> <!-- Navbar -->
    <h1><%= title %></h1>
    <h2><%= id %></h2>
    <p><%= json %></p>
</body>
</html>